#input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;

}

#Submit{
    border: none;
    background-color: orange;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;

}

#Submit:hover{
    cursor: pointer;
    opacity: 0.9;
}

#Submit:active{
    transform: scale(0.9);
}